body {
    background: #F5CCE8;
    background-image: url("homepage2.jpg");
    color: black;
    background-size: 100%;
    margin-top: 250px;
}

h1{
    text-align: center;
    text-decoration-color: #230b0b;
}

p{
    text-align: center;
    padding-block: 5px;
}

*{
    position:relative;
    top: 5px;
}
