<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/static/style_about.css" />
</head>
<body>
    <h1>About Page</h1>
    <p>Authors: Tristan Haslett, Claire Drieger, Wendy Kuang and Nancy Gong</p>
    <p> </p>
    <p> </p>
    <h1>User Guide</h1>
    <p>Welcome to the Cheap Yums food finder! Find the cheapest yum here </p>
    <p>by entering the desired food item in the search bar and if you are </p>
    <p>feeling boujee, check the 'Boujee mode' box. Click the submit button </p>
    <p>to get up to three of the cheapest or boujee-est food items at select </p>
    <p>restaurants and their corresponding prices. </p>
    <p><a href="/"><button>return</button></a></p>
</body>
</html>